body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    background: url('../IMAGENS/release.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: auto; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    filter: blur(8px); 
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    border: 3px solid #004c94; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    color: #333;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #F7941D;
    margin: 10px auto 0;
}

.table-container {
    overflow-x: auto;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#search-input {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #004c94;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#search-input:focus {
    border-color: #004c94;
    box-shadow: 0 0 8px rgba(0, 91, 255, 0.5);
}

button[type="submit"] {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(180deg, #45729c, #215d96,#11589b, #004c94);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 120px;
}

button[type="submit"]:hover {
    background: linear-gradient(180deg, #537ba0, #4377a8,#3670a7, #3287d6);
    transform: translateY(-2px);
}

button[type="submit"]:active {
    background: linear-gradient(180deg, #0063c0, #003f7a,#00315f, #001a33);
    transform: translateY(1px);
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    table-layout: auto;
    word-wrap: break-word;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.data-table th {
    background: linear-gradient(180deg, #45729c, #215d96,#11589b, #004c94);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9;

}

.data-table tr:hover {
    background: linear-gradient(180deg, #f4f6f8, #c3c4c5,#ada9a9,#beb8b8);
}

.print-button, .report-button {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 30px auto;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(180deg, #45729c, #215d96,#11589b, #004c94);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.print-button:hover{
    background: linear-gradient(180deg, #537ba0, #4377a8,#3670a7, #3287d6);
    transform: translateY(-2px);
}

.report-button:hover {
    background: linear-gradient(180deg, #537ba0, #4377a8,#3670a7, #3287d6);
    transform: translateY(-2px);
}

.print-button:active{
    background: linear-gradient(180deg, #0063c0, #003f7a,#00315f, #001a33);
    transform: translateY(1px);
}
.report-button:active {
    background: linear-gradient(180deg, #0063c0, #003f7a,#00315f, #001a33);
    transform: translateY(1px);
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(180deg, #45729c, #215d96, #11589b, #004c94);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
}

.back-button i {
    margin-right: 8px; 
}

.back-button:hover {
    background: linear-gradient(180deg, #537ba0, #4377a8, #3670a7, #3287d6);
    transform: translateY(-2px);
}

.back-button:active {
    background: linear-gradient(180deg, #0063c0, #003f7a, #00315f, #001a33);
    transform: translateY(1px);
}

.details-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #666;
}

@media print {
    .body {
        background: none !important;
        background-color: #ddd;

    }

    #table-container,
    h1,
    #search-form,
    .print-button, .report-button{ 
        display: none;
    }

    .data-table th,
    .data-table td {
        padding: 4px;
        font-size: 10px; 
    }

    .container {
        width: 100%; 
        padding: 10px;
        border: none; 
    }

    .data-table {
        width: 100%; 
        border-collapse: collapse;
    }
    
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .data-table th, .data-table td {
        padding: 8px;
        font-size: 12px;
    }
}